body { font-family: Arial; background: #f0f0f0; padding: 20px; }
button { padding: 10px; background: #4CAF50; color: white; border: none; cursor: pointer; }
textarea { width: 100%; height: 100px; margin: 10px 0; }

.header-bar {
    height: 10vh;
    background-color: #ffcef4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 15vw 2vh 15vw;
    border-radius: 20px;
    padding: 0 1vh 0 0;
}

.username-container {
    height: 10vh;
    background-color: #ffcef4;
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: right;
    margin-right: auto;
    margin: 2vh 2vh 2vh 2vh;
    border-radius: 20px;
    padding: 0 1vh 0 0;
}

.home-button {
    height: 10vh;
    background-color: #ffcef4;
    margin-left: auto;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: left;
    margin: 2vh 2vh 2vh 2vh;
    border-radius: 20px;
    padding: 0 1vh 0 0;
}

.username-input {
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    margin: 0 0 0 1vw;
    padding: 1vh 1vh 1vh 1vh;
    font-size: 20px;
    font-weight: bold;
    color: #411841;
}

.page-container {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: #ffcef4;
    margin: 5vh 20vw;
}

.page-container > * {
    margin: 10px 0;
}


.level-instructions {
    background-color: #dfbbd7;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.beaver-container {
    font-size: 20px;
    background-color: #dfbbd7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-radius: 10px;
}

.beaver-container > * {
    margin: 10px 10px 10px 10px;
}

.beaver-prompt {
    background-color: #dfbbd7;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    margin: 30px;
    border-radius: 10px;
}

.beaver-response {
    width: 30vw;
    background-color: #dfbbd7;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    margin: 30px;
    border-radius: 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #dfbbd7;
    font-size: 30px;
    font-weight: bold;
    margin: 2vh 0;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
    height: 100%;
}

.home-container > * {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #dfbbd7;
    font-size: 30px;
    font-weight: bold;
    margin: 2vh 0;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
    height: 100%;
}

.level-select-container {
    background-color: #dfbbd7;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #411841;
}