body { font-family: Arial; background: #f0f0f0; padding: 20px; }
button { padding: 10px; background: #4CAF50; color: white; border: none; cursor: pointer; }
textarea { width: 100%; height: 100px; margin: 10px 0; }

.username-container {
    height: 10%;
    background-color: #ccb5cc;
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 5% 20%;
}

.page-container {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: #ffcef4;
    margin: 5% 20%;
}

.level-instructions {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}